<h1>Employee Profile</h1>
<a class="btn btn-primary" href="/employee/logout">LogOut</a>

<div id="employeeData">
    <h3 class = "employeeName">{{employee.firstname}} {{employee.lastname}} </h3>
     <p>{{employee.username}}</p>
     <p>{{employee.email}}</p>
    <p>{{employee.gender}}</p>
    <p>{{employee.city}},{{employee.country}}</p>
</div>